{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<section class="page-section bg-grass">
    <div class="text-center">
        <h2 class="section-heading text-white">Socios</h2>
        <h3 class="section-heading text-white">Transformemos a nuestros socios en alumnos del club</h3>
    </div>
    <br>
    <div class="text-center">
            
            <form action="{% url 'creaalumnos' %}" method="POST">{% csrf_token %}
                
                <h4 class="text-white">{{miFormulario.as_p}}</h4>
    
                <input class="btn btn-primary" type="submit" value="Enviar">
            
            </form>

    </div>

</section>
{% endblock %}
