{% extends "padre.html" %}

{% load static %}

{% block contenidoquecambia %}

    <h1 style="color:darkblue">Alumnos</h1>

    <form action="{% url 'alumnos' %}" method="POST">{% csrf_token %}

        <p style="color: grey">Nombre: <input type="text" name="nombre" placeholder="Inicialice con mayúscula"></p>

        <p style="color: grey">Edad <input type="text" name="edad" placeholder="Inicialice con mayúscula"></p>

        <p style="color: grey">Actividad: <input type="text" name="actividad" placeholder="Inicialice con mayúscula"></p>

        <p style="color: grey">Turno mañana o tarde: <input type="text" name="turno" placeholder="Inicialice con mayúscula"></p>

        <input type="submit" value="Registrar">

    </form>

{% endblock %}