{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<section class="page-section bg-dark" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-white">Eliminar noticia</h2>
            <h3 class="section-heading text-white">No va más...</h3>
        </div>
        <br>
        <br>
    <div class="text-white">
        <h2>¿Eliminar la noticia "{{noticias.titulo}}"?</h2>
        <form method="POST"> {% csrf_token %}

            <button class="btn btn-primary text-center">Eliminar</button>

        </form>

    </div>


    </div>

</section>    

{% endblock %}