{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<section class="page-section bg-grass">
    <div class="container"></div>
        <div class="text-center">
            <h2 class="section-heading text-white">Lista de Socios</h2>
        </div>
      
    <h3>    
<ul class="section-heading text-white">
        {% for X in alumnos %}

            <li class="text-white text-left">{{X}}</li>
    
        <div class="text-left">
            <form action="{% url 'eliminaralumnos' X.id %}" method="POST">{% csrf_token %}
                <a class="btn btn-primary" type ="submit">Eliminar</a>
            </form>
                <a class="btn btn-primary" href="{% url 'editarAlumnos' X.id %}">Editar</a>    
        </div>
        {% endfor %}
</ul>
    <div>
        <div class="text-center">

            <a class="btn btn-primary" href="{% url 'creaalumnos' %}">Ingresar nuevo socio</a>

        </div>

    </div>
</div>
</section>
{% endblock %}