{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Team-->
<section class="page-section bg-grass" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-white">Desarrolladores</h2>
            <h3 class="section-subheading text-white">Nosotros hemos creado esta página</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/static/assets/img/team/1.jpg" alt="..." />
                    <h4 class="text-white">Germán Rodas</h4>
                    <p class="text-white">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/germanrdrodas" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/germ%C3%A1n-rodas-4b4b6a38/" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/static/assets/img/team/3.jpg" alt="..." />
                    <h4 class="text-white">Diego Pistolesi</h4>
                    <p class="text-white">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://ar.linkedin.com/in/pistolesi-diego-exequiel" aria-label="Perfil de Diego Pistolesi"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-white">Somos un equipo chico, pero muy proactivo. Ya mejoraremos la funcionalidad de todo.</p></div>
        </div>
    </div>
</section>


{% endblock contenidoQueCambia %}