{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<section class="page-section bg-grass">
    <div class="text-center">
        <h2 class="section-heading text-white">Profesores</h2>
        <h3 class="section-heading text-white">Carga un profesor y su actvidad pertinente</h3>
    </div>
    <br>
    <div class="text-center">
            
            <form action="{% url 'CreaProfesor' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                
                <h4 class="text-white">{{miFormulario.as_p}}</h4>
    
                <input class="btn btn-primary" type="submit" value="Enviar">
            
            </form>

    </div>

</section>
{% endblock %}